{% extends "layout.html" %}

{% block title %}
Buy
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="my-4">Buy Stocks</h1>

    <form action="/buy" method="post">
        <div class="mb-3">
            <label for="symbol" class="form-label">Symbol</label>
            <input id="symbol" class="form-control" name="symbol" placeholder="Symbol" type="text" required>
        </div>
        <div class="mb-3">
            <label for="shares" class="form-label">Shares</label>
            <input id="shares" class="form-control" name="shares" placeholder="Shares" type="number" min="1" required>
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
</div>
{% endblock %}
