{% extends "layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block main %}
<div style="margin-top: 10px; margin-bottom: 30px;">
    <h2>Change Password</h2>
</div>
<form action="/change-password" method="post">
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm New Password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
