{% extends "layout.html" %}

{% block title %}
Portfolio
{% endblock %}

{% block main %}
<div class="container">
    <h1 class="my-4">Portfolio</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in portfolio %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.total | usd }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" class="text-end">Cash</td>
                <td>{{ cash | usd }}</td>
            </tr>
            <tr>
                <td colspan="3" class="text-end"><strong>Total</strong></td>
                <td><strong>{{ total_value | usd }}</strong></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
